:root {
  --primary-color: #1caffc;
  --secondary-color: #fff;
  --padding-left-right: 15px;
  --padding-bottom-large: 725px;
  --padding-bottom-small: 40.91797%;
  --height-large: 525px;
  --border-radius: 50%;
  --transition-time: 0.3s;
}

.camera_container {
  position: relative;
}

@media (min-width: 992px) {
  .camera_container {
    padding-bottom: var(--padding-bottom-large);
  }
}
@media (min-width: 1771.83771px) {
  .camera_container {
    padding-bottom: var(--padding-bottom-small);
  }
}

.camera_wrap {
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: var(--secondary-color);
  z-index: 0;
}
@media (min-width: 992px) {
  .camera_wrap {
    position: absolute;
  }
}
@media (max-width: 767px) {
  .camera_wrap {
    height: var(--height-large) !important;
  }
}

.camera_wrap img {
  max-width: none !important;
}

.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
}

.camera_src {
  display: none;
}

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: var(--secondary-color);
}

.cameraContent {
  display: none;
}
@media (min-width: 1300px) {
  .cameraContent h4 {
    line-height: 1.5833;
  }
}

.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0;
}

.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}

.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
}

.camera_loader {
  background: var(--secondary-color) url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid var(--secondary-color);
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
}

.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}

.camerarelative {
  overflow: hidden;
  position: relative;
}

.imgFake {
  cursor: pointer;
}

.camera_command_wrap .hideNav {
  display: none;
}

.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}

.showIt {
  display: none;
}

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}

.camera_caption {
  display: none;
}

.cameraContent .camera_caption {
  display: block;
}

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  color: var(--secondary-color);
  text-align: center;
}
@media (min-width: 768px) {
  .camera_caption {
    text-align: left;
  }
}
.camera_caption > div {
  height: 100%;
}

.camera_pag {
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
  min-width: 300px;
}
.camera_pag:before, .camera_pag:after {
  display: table;
  content: "";
  line-height: 0;
}
.camera_pag:after {
  clear: both;
}
@media (min-width: 768px) {
  .camera_pag {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .camera_pag {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .camera_pag {
    width: 1200px;
  }
}
.camera_pag_ul {
  position: relative;
  top: -50px;
  text-align: center;
}
@media (min-width: 768px) {
  .camera_pag_ul {
    top: -100px;
    text-align: left;
  }
}
.camera_pag_ul li {
  display: inline-block;
  position: relative;
  width: 21px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 3px solid var(--primary-color);
  transition: var(--transition-time) all ease;
}
.camera_pag_ul li.cameracurrent, .camera_pag_ul li:hover {
  background: var(--primary-color);
}
.camera_pag_ul li + li {
  margin-left: 11px;
}
.camera_pag_ul li > span {
  display: none;
}

.onCamera-abs {
  padding-top: 30px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
@media (min-width: 768px) {
  .onCamera-abs {
    position: absolute;
    top: 0px;
    padding: 0;
  }
}

.onCamera__cnt {
  pointer-events: all;
}

.onCamera {
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
  min-width: 300px;
  z-index: 999;
}
.onCamera:before, .onCamera:after {
  display: table;
  content: "";
  line-height: 0;
}
.onCamera:after {
  clear: both;
}
@media (min-width: 768px) {
  .onCamera {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .onCamera {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .onCamera {
    width: 1200px;
  }
}
.onCamera * + .rd-mailform {
  margin-top: 22px;
}
.onCamera .booking-form {
  float: right;
}
.onCamera .bg-primary {
  background-color: rgba(28, 175, 252, 0.85);
}
.onCamera h3 {
  letter-spacing: 0.06em;
}
